* {
  margin: 0;
}

:root {
  --mobile-screen: 900px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 20vh;
}

body {
  /* background: radial-gradient(circle,#303030, #0f0f0f); */
  background-color: #242424;
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* HEADER */

header {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right,rgba(93, 43, 255, 1) 0%, rgba(51, 255, 167, 1) 33%, rgba(255, 208, 0, 1) 78%, rgba(255, 36, 87, 1) 100%) 1;
  width: 100%;
  height: 3.6rem;

  /* background: radial-gradient(circle at left,#111121bb 0%, #112219bb 47%, #251317bb 92%); */
  background: #0c0c0cbb;
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-around;
}

#name {
  font-size: 1.4rem;
  height: 100%;

  display: flex;
  align-items: center;
}

#logo { 
  height: 1.4rem;
}

header nav {   
  height: 100%;

  display: flex;
  align-content: center;
}

header nav a {
  padding: 1.1rem;

  display: flex;
  align-content: center;
  
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;

  transition: all 0.3s;
}

header nav a:hover {
  background-color: #ffffff;
  color: #000;
}

/* MAIN CONTAINER */

#main-container {
  display: flex;
}

/* ASIDE */

aside {
  /* background-color: #252525; */
  background: linear-gradient(#0c0c0cbb, #00000000);

  position: fixed;
  top: 4rem;

  display: flex;
  align-content: center;
  justify-content: center;
  
  padding-top: 2rem;
  height: calc(60vh + 4rem);
  width: fit-content;
}

aside nav {
  display: flex;    
  flex-direction: column;
}

aside nav a {
  padding: 0.4rem 2.2rem;
  border-left: 3px solid #b9b9b9;

  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;

  transition: all 0.3s;
}

aside nav a:hover {
  background-color: #0f0f0f;
}

/* MAIN */

main {
  padding: 0 25% 8rem;
}

section {
  margin-top: 3rem;
}
  
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 50vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.4rem;
}

hr {
  margin: 0.6rem 0;
}

p {
  line-height: 1.5rem;
}

.rubik {
  margin: 2rem;
  border-radius: 10px;
  width: 8rem;

  float: left;
}

.caseExamples {
  margin: 2rem auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.case {
  margin: 1.5rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  max-width: 9rem;
  width: fit-content;
  height: fit-content;
    
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1b1b1b;
}

.caseImage {
  margin: 1rem;
  border-radius: 10px;
  width: 8rem;
}

.algorithm {
  font-family: monospace;
}

/* FOOTER */

footer {
  margin-top: 2rem;
  padding: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0f0f0f;
}

footer a {
  margin: 1rem;
  padding: 0.2rem 0.6rem;

  color: white;
  text-decoration: underline;
  text-align: center;

  transition: all 0.3s ease;
}

footer a:hover {
  border-radius: 8px;

  background-color: white;
  color: #000000;
}

@media (max-width: 900px /*var(--mobile-screen)*/) {
  body {
    font-size: 14px;
  }
  
  header {
    height: 3rem;
  }
  
  header nav a {
    padding: 1rem 0.6rem;
    font-size: 0.9rem;
  }

  aside {
    display: none;
  }
  
  main {
    padding: 0 2rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  p {
    line-height: 1.4rem;
    text-align: justify;
  }

  .rubik {
    margin: 0.6rem;
    width: 6rem;
  }

  .case {
    margin: 0.5rem;
    max-width: 6rem;
  }

  .caseImage {
    margin: 0.6rem;
    width: 5.5rem;
  }

  .algorithm {
    font-size: 0.7rem;
  }

  footer {
    padding: 0.6rem;
  }
}
